:root {
    --text-color: #090909;
    --background-color: #e8e8e8;
    --text-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    --timer-color: #3ed83e;
    --timecycle-box-shadow: inset 3px 3px 0px #d1d1d1, inset -3px -3px 0px #ffffff;
    --timeindex_task-background: linear-gradient(145deg, #f58989, #ce7373);
    --timeindex_task-box-shadow: 2px 2px 7px #ce7373, -1px -1px 7px #ff9393;
    --timeindex_break-background: linear-gradient(145deg, #80b5ec, #6c98c7);
    --timeindex_break-box-shadow: 2px 2px 7px #6c98c7, -1px -1px 7px #84baf3;
    --button-active-box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
    --anchor-color: #3c4bf4;
    color: var(--text-color);
    background-color: var(--background-color);
    text-shadow: var(--text-shadow);
}

.dark {
    --text-color: #fff;
    --background-color: #212121;
    --text-shadow: 6px 6px 12px #000, -6px -6px 12px #2f2f2f;
    --timer-color: #8adc8a;
    --timecycle-box-shadow: inset 3px 3px 0px #1a1a1a, inset -3px -3px 0px #282828;
    --timeindex_task-background: linear-gradient(145deg, #b91c00, #9c1700);
    --timeindex_task-box-shadow: 2px 2px 7px #9c1700, -1px -1px 7px #be1d00;
    --timeindex_break-background: linear-gradient(145deg, #0060b9, #00519c);
    --timeindex_break-box-shadow: 2px 2px 7px #00519c, -1px -1px 7px #0063be;
    --button-active-box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
    --anchor-color: #83b8e2;
    color: var(--text-color);
    background-color: var(--background-color);
    text-shadow: var(--text-shadow);
}

.timer {
    color: var(--timer-color);
    text-shadow: var(--text-shadow);
    background: var(--background-color);
    font-size: 96px;
}

.timecycle {
    height: 20px;
    margin: auto 2px;
    border-radius: 3px;
    background: var(--background-color);
    box-shadow: var(--timecycle-box-shadow);
}

.timeindex_task {
    height: 20px;
    margin: auto 2px;
    border-radius: 3px;
    background: var(--timeindex_task-background);
    box-shadow: var(--timeindex_task-box-shadow);
}

.timeindex_break {
    height: 20px;
    margin: auto 2px;
    border-radius: 3px;
    background: var(--timeindex_break-background);
    box-shadow: var(--timeindex_break-box-shadow);
}

button {
    width: 144px;
    color: var(--text-color);
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: var(--background-color);
    border: 1px solid var(--background-color);
    transition: all 0.3s;
    box-shadow: var(--text-shadow);
}

button:active {
    color: #666;
    box-shadow: var(--button-active-box-shadow);
}

a {
    color: var(--anchor-color);
}